html, body {
  font-size: 100%;
}

.form-wrapper {
  position: fixed;
  z-index: 99;
}

.word-form {
  margin-bottom: 30px;
  border: 1px solid gray;
  background-color: #f2f2f2;
  padding: 30px 50px 30px 30px;
  border-radius: 5px;
}

.add-word-btn {
  margin-top: 20px;
  margin-right: 45px;
}

.heading {
  margin: 50px 0 50px 15px;
}

.word-list {
  clear: both;
  position: relative;
  top: 320px;
  margin-left: 15px;
  margin-bottom: 50px;
}

.column-r {
  width: 70%;
}

.column-e {
  width: 30%;
}
