html, body {
  font-size: 110%;
}

.definition {
  overflow: hidden;
  border-bottom: 1px dashed #eee;
}

.form-wrapper,
.word-wrapper {
  overflow: hidden;
  clear: both;
}

.word-wrapper {
  border-top: 1px solid #eee;
  padding: 50px 0 40px;
}

.word-form {
  margin-bottom: 30px;
  border: 1px solid #eee;
  background-color: #f2f2f2;
  padding: 30px;
  border-radius: 15px;
}

.add-word-btn {
  margin-top: 20px;
  margin-right: 45px;
}

.heading {
  margin: 50px 0 50px 15px;
}

.word-list {
  clear: both;
  position: relative;
  top: 320px;
  margin-left: 15px;
  margin-bottom: 50px;
}

.huge-text {
  font-size: 2.5em;
  text-decoration: underline;
}

.column-r {
  width: 70%;
}

.column-e {
  width: 30%;
}

.transcription {
  font-style: italic;
  font-weight: normal;
  color: #3D5CBF;
}

.animation-fade.ng-enter {
  transition: .5s linear all;
  opacity: 0;
}

.animation-fade.ng-enter.ng-enter-active {
  opacity: 1;
}

.animation-fade.ng-leave {
  transition:0.5s linear all;
  opacity:1;
}
.animation-fade.ng-leave.ng-leave-active {
  opacity:0;
}
