html, body {
  font-size: 100%;
}

.word-form {
  margin-bottom: 30px;
  border: 1px solid gray;
  background-color: #f2f2f2;
  padding: 30px 50px 30px 30px;
  border-radius: 5px;
}

.add-word-btn {
  margin-top: 20px;
  margin-right: 45px;
}

.heading {
  margin: 50px 0;
}

.table {
  table-layout: fixed;
  width: 70%;
  clear: both;
}

.column-r {
  width: 70%;
}

.column-e {
  width: 30%;
}
